.container{
    display:flex;
    max-width: 100%;
    justify-content: space-between;
    border: dotted green;
    padding-right: 9vmin;
    padding-left: 9vmin;

}
.navbar{
    width: 100%;
    border: dotted
}

.logo{

}
.size{
    height:15vmin;
    width: 15vmin;
}

.links{
    display: flex;
    gap: 2vmin;
}

.link{
    text-decoration: none;
    color: inherit;
}
